* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colors: (
        primary: #232B38,
        primary-light: #2B3947,
        accent: #E81932,
        warning: #FF9800,
        myBlue: #5896EA
);

$padding: 15px;
$margin: 15px;
$pageHeight: 600px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

header {
  background-color: #232B38;
  height: 50px;
  overflow: hidden;
  color: white;
  padding: 0 3*$padding;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {

    a {
      padding: 16px $padding;
      text-decoration: none;
      color: white;
    }

    a:hover {
      background-color: color(primary-light);
    }
  }

  ul {
    list-style: none;

    li {
      display: inline-block;

      button {
        margin-left: 7px;
      }
    }
  }
}

a {
  color: #FFF;
  text-decoration: none;
}


table {
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #eee;
}

.logo {
  font-size: 20px;

  i {
    margin-right: 8px;
  }
}

.btn-round {
  background: none;
  border: 2px solid white;
  border-radius: 22px;
  padding: 10px $padding;
  color: white;
  cursor: pointer;

  i {
    margin-left: 2px;
  }
}

.btn-round:hover {
  background-color: lighten(color(primary), 10%);
}


.main {
  background-image: url("res/bg_img.jpg");
  background-size: cover;
  background-position: center center;
  height: $pageHeight;
  color: white;

  h1 {
    text-align: center;
    margin-bottom: 2*$margin;

    span {
      display: block;
    }
  }

  > div:nth-child(2) {
    position: relative;
    padding-top: 2*$padding;
  }
}


.overlay {
  width: 100%;
  height: $pageHeight;
  background-color: #333;
  opacity: 0.5;
  position: absolute;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;

  .btn {
    margin-left: 10px;
  }

  .btn:first-child {
    background-color: color(accent);
    border: 1px solid color(accent);
  }

  .btn:first-child:after {
    content: "";
    border-color: color(accent) transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    position: absolute;
    top: 158px;
    display: block;
    left: 36%;
    width: 0;
    margin-left: -6px;
  }
}


.btn-next {
  width: 75px;
  background-color: color(accent);
  border: none;
  cursor: pointer;
  margin-left: 2px;

  i {
    font-size: 35px;
    color: #FFF;
  }
}

.btn-next:hover {
  background-color: lighten(color(accent), 7%);
}

form {
  background-color: rgba(35, 43, 56, .6);
  padding: 15px 20px;
  width: 78%;
  margin-left: auto;
  margin-right: auto;

  > div:nth-child(2) {
    display: flex;
    margin-bottom: 12px;
  }

}

.input-box {
  width: 30%;
  margin-right: 10px;
  background-color: #FFFFFF;
  padding: 8px;
  height: 90px;
  border-radius: 2px;
  color: #333;
  display: inherit;
  align-items: center;

  label, input {
    transition: all 0.2s;
  }

  input[type="text"] {
    font-size: 25px;
    color: color(primary);
    padding: 4px 1px;
    width: 200px;
    font-weight: bold;
    outline: 0;
    border: none;
    margin-left: 3px;
  }

  label {
    display: inline-block;
    color: color(primary-light);
    opacity: .7;
    transform: translate(-12.125rem, 0);
    font-weight: bold;
  }

  input:not(:placeholder-shown) ~ label,
  input[type="text"]:focus ~ label {
    transform: translate(-12.125rem, -2.3rem);
    cursor: pointer;
    font-size: 12px;
    opacity: 1;
    color: color(myBlue);
  }
}

.input-box:nth-child(2) input[type="text"]:focus ~ .all-destination {
  display: block;
}

.all-destination {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 25px;
  right: 26.8%;
  padding: 4px 2px;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  width: 500px;
  outline: color(myBlue) solid 1px;

  i {
    margin-left: 25px;
    margin-right: 6px;
  }
}

.all-destination:hover {
  background-color: color(myBlue);
  color: #FFFFFF;
  cursor: pointer;
}

.booker-menu {
  height: auto;
  margin-bottom: 15px;
  font-size: 14px;

  a {
    margin-right: 15px;
    padding: 0 5px 3px 5px;
  }

  a:last-child {
    float: right;
  }

  label, input {
    cursor: pointer;
  }

}

.radio-input-selected {
  border-bottom: 3px solid color(accent);
}

.icon-wrapper {
  padding: 4px;
  display: flex;
  align-items: center;

  i {
    font-size: 20px;
  }
}

.book-details {
  position: relative;
  background-color: color(primary);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;

  .details-box {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
  }

  i {
    font-size: 25px;
    padding-right: 12px;
    margin-left: 8px;
  }
}

.book-details:active {
  outline: color(myBlue) solid 1px;
}

#cabin {
  opacity: .7;
  margin-bottom: 4px;
}

#class {
  margin-top: 4px;
}

#cabin, #class {
  font-size: 12px;
}

.flex-flow-col {
  flex-flow: column;
  justify-content: center;
}

#personCounter {
  width: 40px;

  i {
    position: absolute;
    bottom: 8px;
  }

  span {
    position: relative;
    bottom: 25px;
    right: -15px;
  }
}

#previousSearch {
  cursor: pointer;
  display: inline-block;
  padding-bottom: 3px;
  max-height: 22px;
}

#previousSearch:hover {
  border-bottom: 2px solid color(accent);
}


footer {
  background-color: color(primary);
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*Page Level style*/
.trips {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;

  .table-header {
    margin-bottom: 18px;
    font-size: 28px;
    font-weight: bold;
  }
}


/*Component Level Style*/

// DATE PICKER
.ui-date-picker {
  position: absolute;
  font-size: 14px;
  bottom: -75%;
  left: 30%;
  width: 500px;
  background-color: #FFFFFF;
  color: color(primary);
  z-index: 1;

  table {
    width: auto;
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 18px;

    thead {
      display: inline-block;
      padding: 10px 0;
    }

    th, td {
      display: inline-block;
      width: 40px;
      text-align: center;
    }

    td {
      padding: 6px 6px;
      height: 40px;
      border-radius: 100%;
      cursor: pointer;
    }

    td:hover {
      background-color: color(primary-light);
      color: #FFFFFF;
    }
  }
}

.ui-date-picker::before {
  content: "";
  border-color: transparent transparent #FFFFFF transparent;
  border-style: solid;
  border-width: 0 15px 15px;
  position: absolute;
  top: -8px;
  left: 87%;
}

.month, .days {
  font-weight: bold;
}

.month span {
  font-weight: lighter;
  display: block;
}

.ui-date-picker-week-end {
  color: color(myBlue);
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*Utility Classes*/
.container {
  padding-right: $padding;
  padding-left: $padding;
}

%btn {
  border-radius: 4px;
  font-size: 15px;
  color: #FFF;
  width: auto;
  padding: .75em 25px;
  border: 1px solid rgba(255, 255, 255, .5);
  font-weight: 400;
  cursor: pointer;
  outline: 0;

  &:hover {
    opacity: .85;
  }
}

.btn {
  @extend %btn;
  background-color: rgba(35, 43, 56, .25);

  &-primary {
    @extend %btn;
    background-color: color(primary);
  }

  &-danger {
    @extend %btn;
    background-color: color(accent);
  }

  &-warning {
    @extend %btn;
    background-color: color(warning);
  }
}

.card {

}